#jsQRCamLoadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
    content: "&#x1f4f7; Unable to access video stream (please make sure you have a webcam enabled)"
}
#jsQRCamLoadingMessage.loading {
    content: "&#x231b; Loading video..."
}

